<div class="container">
	<h2 class="text-left"> Formulario de postulacion</h2>

	<p id="notice"><%= flash[:notice] %></p>

	<div class="row">
			<%= form_tag("/postulacion", method: "post") do %>
			  <div class="form-group">
				 <%#= hidden_field("user_id", @user) %>

			  	<%= select_tag(:user_id, options_for_select(@users, :selected => @user), class: 'form-control', readonly: true ) %>
			  </div>
			  <div class="form-group">
			  	<%#= hidden_field("job_id", @job) %>
				<%= select_tag(:job_id, options_for_select(@jobs, :selected => @job), class: 'form-control', readonly: true )%>
			  </div>
			  <div class="form-group">
			  	<%= text_area_tag(:motivation, nil, placeholder: '¿Por qué quieres este trabajo?') %>
			  </div>
			 
			  <%= submit_tag("Enviar postulación", class: 'btn-primary') %>
			<% end %>
	</div>
</div>