<div class="container">

<p>Oferta de Trabajo</p>

<p>
  <strong>Titulo:</strong>
  <%= @job.name %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @job.client.name %>
</p>

<a href="/">Volver</a>

<a href="/postulacion/<%= @job.id %>">Postular</a>

</div>