<h1>Graficos</h1>

<p class="text-center">Tipos de trabajo disponibles</p>
<%= pie_chart Job.group(:job_type).count %>

<br><br>

<p class="text-center">Solicitudes creadas por dia</p>
<%= line_chart JobApplication.group_by_day(:created_at).count, xtitle: "Dias", ytitle: "Solicitudes creadas" %>

<br><br>

<p class="text-center">Solicitudes por empresa</p>
<%= bar_chart @solicitudes_por_empresa %>
