<div class="container">
	<h1>JobBoard</h1>
	<p>ValpoSystems</p>	
	<p>Listado de Trabajos</p>
	<div class="row">
		<% @jobs.all.each do |job| %>
		<div class="col col-md-4">

			<div class="card mb-4 box-shadow">
                <div class="card-body">
                  <p class="card-text">
                  	<%= job.name %> (<%= pluralizar(job.job_applications.count) %> )
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    <a class="btn btn-sm" href="/jobs/<%= job.id %>">Ver Detalle</a>
                    </div>
                    <small class="text-muted"><%= job.client.name %></small>
                    <small class="text-muted"><%= job.job_type %></small>
                  </div>
                </div>
              </div>
			
		</div>
		<% end %>
	</div>
</div>