<!DOCTYPE html>
<html>
  <head>
    <title>JobBoard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Inicio</a>
      <% if user_signed_in? %>
      <a class="dropdown-item" href="#"><%= current_user.name if current_user %></a>
      <a class="dropdown-item" href="/users/sign_out">Salir</a>
      <% else %>
        <a class="dropdown-item" href="/users/sign_in">Ingresar</a>
        <a class="dropdown-item" href="/users/sign_up">Registrarse</a>
      <% end %>
    </nav>
    <div class="container-fluid padding">
      <%= yield %>
    </div>
  </body>
</html>
